@import '../../../shared-styles/variables';

.container {
  float: left;
  height: 100%;
  width: 50%;
  position: relative;

  @media (max-width: 480px) {
    width: 100%;
    float: none;
    height: 50%;
  }

  .spotify {
    width: 80%;
    margin: 0 auto;
  }
}