@import '../../../shared-styles/variables';

.rsvp {
  background-color: #f8f3ed;
  margin: 3rem 0;

  h2 {
    text-align: center;
    padding: 0 0.6rem 0.6rem 0.6rem;
  }

  input {
    outline: none;
  }

  ul {
    max-width: 40rem;
    display: block;
    margin: 0 auto;
    color: red;
  }

  form {
    box-sizing: border-box;
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
  }

  .guests {
    box-sizing: inherit;

    input[type='text'] {
      margin: 0.3rem 0;
    }
  }

  @media ($mobile) {
    form {
      margin: 0 0.6rem;
    }
  }

  label {
    margin-top: 0.6rem;
    display: block;
  }

  input[type='email'], input[type='text'] {
    width: 100%;
    padding: 0.6rem;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid $fontColor;
    box-sizing: inherit;

    @media ($mobile) {
      display: block;
      width: 100%;
      margin: 0.6rem 0!important;
    }
  }

  input[type='submit'] {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid $fontColor;
    background: #ffffff;
    padding: 0.6rem;
    cursor: pointer;
    float: right;
  }
}