@import '../../shared-styles/variables';

@font-face {
  font-family: 'innocents-rough';
  src: url('../../fonts/rough-webfont.eot');
  src: url('../../fonts/rough-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/rough-webfont.woff') format('woff'),
  url('../../fonts/rough-webfont.woff2') format('woff2'),
  url('../../fonts/rough-webfont.ttf') format('ttf');
}


.content {
  width: 100%;
  height: 100%;
}

.center-text {
  font-family: 'innocents-rough', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

  .text, .sub-text {
    font-family: 'innocents-rough', Fallback, sans-serif;
    color: #fff;
    font-weight: 400;
    width: 100%;
    text-align: center;
  }

  .text {
    font-size: 160px;
    line-height: 191px;
    font-style: italic;
  }

  .sub-text {
    font-size: 50px;
    padding-top: 20px;
    letter-spacing: 1px;
    line-height: normal;
  }
}

.desktop-image {
  height: 100vh;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease-in;
  -moz-transition: background-image 1s ease-in;
  -webkit-transition: background-image 1s ease-in;
}

.mobile-image {
  height: 100vh;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease-in;
  -moz-transition: background-image 1s ease-in;
  -webkit-transition: background-image 1s ease-in;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .center-text {
    .text {
      font-size: 110px;
      line-height: 130px;
    }

    .sub-text {
      font-size: 35px;
    }
  }
}

@media screen and (max-width: 700px) and (min-width: 480px) {
  .center-text {
    .text {
      font-size: 80px;
      line-height: 100px;
    }

    .sub-text {
      font-size: 35px;
    }
  }
}


/* Portrait and Landscape */
@media only screen
and (max-width: 480px) {
  .center-text {
    .text {
      font-size: 70px;
      line-height: 80px;
    }

    .sub-text {
      font-size: 30px;
    }
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
  }
}

@media only screen
and (min-device-width: 480px) {
  .desktop-image {
    display: block;
  }

  .mobile-image {
    display: none;
  }
}