$content-width: 500px;
$padding: 15px;
$defaultFont: 'Roboto', Fallback, sans-serif;
$primaryFontColor: #212121;

$fontColor: #8c8c8c;

// Media queries
$mobile: 'max-width: 480px';

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
  box-sizing: inherit;
  font-weight: bold;
  color: #000000;
}