header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: block;
}

.main-menu {
  background-color: #ffffff;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  text-align: right;
  position: fixed;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -ms-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
  padding-top: 120px;

  &.active {
    width: 100%;
  }

  .menu-link {
    font-size: 30px;
    height: 60px;
    padding-right: 30px;
  }

  .menu-link > a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  .menu-link > a:hover {
    color: #000;
  }

  .menu-link > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .menu-link > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.nav-trigger {
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 14px;
  line-height: 14px;
  padding-right: 85px;
  position: absolute;
  text-transform: uppercase;
  top: 40px;
  right: 30px;
  width: 77px;
  z-index: 10000;
  transition: color .3s,top .3s;
  box-sizing: border-box;

  &.active {
    color: transparent;
    span {
      background: none;
    }
    span:before {
      top: 0;
      transform: rotate(45deg);
    }
    span:after {
      top: 0;
      transform: rotate(-45deg);
    }
    span:before, span:after {
      background: #000000;
      transition-delay: 0s,.3s;
      transition: all ease-in-out 0.3s
    }
  }

  span {
    top: 5px;
  }

  span, span:before, span:after {
    background: #ffffff;
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    width: 20px;
    content: "";
  }

  span:before {
    bottom: -6px;
  }

  span:after {
    top: -6px;
  }
}

