
@import '../../shared-styles/variables';

.text {
  transform: matrix(1, 0, 0, 1, 0, 0);
  float: left;
  width: 50%;
  padding: 0 0.6rem;
  box-sizing: border-box;
  margin-bottom: 40px;
  color: $fontColor;

  strong {
    color: #000000;
    line-height: 3;
  }
}

@media ($mobile) {
  .text {
    float: none;
    width: 100%;
  }
}

.background-image {
  width: 100%;
  img {
    width: 50%;
  }
}

footer {
  text-align: center;
  
  a {
    color: black;
  }
  a:active {
    color: #000;
  }
}